.title, .container-list {
    display: flex;
    justify-content: center;
}

.centered-list {
    list-style-type: none;
    text-align: left;
}

body {
    font-family: verdana, "lucida console", arial;
    font-size: 20px;
    background-color: bisque;
}